.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
}

.product-card {
    background-color: white;
    text-align: center;
    position: relative;
}

.product-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.delete-btn {
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.delete-icon {
    font-size: 20px;
    line-height: 1;
}

.products-title {
    margin: 0;
}

.bulk-delete-btn {
    margin-left: auto;
}

.card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    object-fit: contain;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.price {
    color: var(--mat-sys-tertiary);
}

.card-actions {
    justify-content: center;
}

.edit-btn {
    width: 100%;
}
