body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.button-container {
    justify-content: flex-center;
}

.button {
    padding: 0.5rem 0.75rem;
    background: var(--mat-sys-primary-container);
    border: 1px solid var(--mat-sys-outline);
    border-radius: 6px;
    color: var(--mat-sys-on-primary-container);
    box-shadow: 0 2px 6px var(--mat-sys-on-primary-container);
    cursor: pointer;
    text-decoration: none;
}
.button:focus {
    outline: 3px solid var(--mat-sys-on-primary-container);
    outline-offset: 2px;
}
