.product-card {
    background-color: white;
}

.products-title {
    text-align: center;
    margin-bottom: 0;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
}

.card-actions {
    justify-content: center;
}

.price {
    color: var(--mat-sys-tertiary);
}
