<h2 class="products-title">All Products</h2>
<div class="products-container">
    @for (product of products; track product.id) {
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{ product.name }}</mat-card-title>
                <mat-card-subtitle class="price"
                    >${{ product.price }}</mat-card-subtitle
                >
            </mat-card-header>
            <img
                mat-card-image
                src="{{ product.imageUrl }}"
                alt="Photo of a {{ product.name }}"
            />
            <mat-card-actions class="card-actions">
                <a
                    matButton="elevated"
                    [routerLink]="['/browse-products/product', product.id]"
                    title="View {{ product.name }}"
                    >View Product Details</a
                >
            </mat-card-actions>
        </mat-card>
    }
</div>
