.products-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.product-card {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.product-image {
    flex: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.price {
    color: var(--mat-sys-tertiary);
}

@media (max-width: 768px) {
    .product-card {
        flex-direction: column;
    }

    .product-image {
        max-height: 400px;
    }
}
