.header {
    padding-top: 2rem;
}

.upload-inventory-btn {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 20px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.subtitle {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
    color: var(--mat-sys-on-surface-variant);
}
