<div class="header">
    <div class="title">Update Inventory Page</div>
    <p class="subtitle">This is where you can update your inventory.</p>
</div>
<div class="add-inventory-section">
    <a class="add-inventory-link" routerLink="/update-inventory/add">
        <mat-icon class="add-icon">add_circle</mat-icon>
        <div class="content">
            <h2>Add New Inventory Item</h2>
            <p>Click here to add a new product to your inventory</p>
        </div>
        <mat-icon class="arrow-icon">arrow_forward</mat-icon>
    </a>
</div>
<app-edit-products [products]="products()"></app-edit-products>
<router-outlet></router-outlet>
